@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito';
  color: #929b7f;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bebas Neue';
  letter-spacing: 0.07rem;
}

h2 {
  font-size: 3.5rem;
  color: #6c7c64;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.1rem;
}

h2,
p {
  margin-bottom: 1rem;
}

.header {
  width: 100vw;
  height: 100vh;
  background-image: url(./images/bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  justify-items: center;
  align-content: center;
}

.header h1 {
  font-size: 5rem;
  color: #fff;
  -webkit-text-stroke: 0.01rem #5f6e49;
}

.about {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.text {
  width: 50%;
  padding-top: 10rem;
  padding-left: 5rem;
  padding-right: 10rem;
  padding-bottom: 5rem;
}

.image {
  background-color: #d3d7cd;
  display: flex;
  width: 50%;
  justify-content: center;
  padding-top: 10rem;
  padding-bottom: 5rem;
}

.aboutImg {
  width: 60%;
}

.menuHead {
  position: relative;
  background-color: #d3d7cd;
}

.lImg {
  width: 100%;
}

.mImg {
  width: 60%;
  position: absolute;
  bottom: -30%;
  left: 40%;
}

.sImg {
  width: 30%;
  position: absolute;
  bottom: -25%;
  left: 20%;
}

.menuTitle {
  position: absolute;
  bottom: -34%;
  left: 5rem;
  font-size: 15rem;
  color: #fff;
  letter-spacing: 1rem;
}

.menuBody {
  background-color: #d3d7cd;
  padding-top: 15rem;
  padding-bottom: 10rem;
}

.menu-section {
  padding-left: 5rem;
  padding-right: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.25rem;
}

.menu-list {
  padding: 0.625rem;
}

.menu-list ul {
  list-style-type: none;
}

.menu-section h2 {
  margin-bottom: 0.625rem;
}

ul li {
  margin-bottom: 0.5rem;
  color: #5f6e49;
  font-weight: 700;
}

li p {
  font-weight: 500;
}

.footer {
  background-color: #6c7e64;
  padding-top: 5rem;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 1rem;
}

.footer h3,
.footer h4,
.footer p {
  color: #d3d7cd;
  margin-bottom: 1rem;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
}

.footer-info,
.footer-hours,
.footer-socials {
  flex: 1 1 25%;
}

.footer-bottom {
  text-align: center;
  margin-top: 2rem;
  border-top: 1px solid #d3d7cd;
  padding-top: 1rem;
  font-size: 0.8rem;
}

.social-icon {
  margin-right: 0.5rem;
}

@media screen and (max-width: 1023px) {
  .header h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .about {
    flex-direction: column;
    height: auto;
  }

  .text,
  .image {
    width: 100%;
    padding: 2rem;
  }

  .aboutImg {
    width: 80%;
  }

  .text {
    padding-top: 3rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .mImg,
  .sImg {
    display: none;
  }

  .menuTitle {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .menuBody {
    padding-top: 6rem;
  }

  .menu-section {
    grid-template-columns: 1fr;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  .footer-container {
    gap: 1rem;
  }

  .footer-info,
  .footer-hours,
  .footer-socials {
    flex: 1 1 33%;
  }
}

@media screen and (max-width: 768px) {
  .footer-info,
  .footer-hours,
  .footer-socials {
    flex: 1 1 100%;
    text-align: center; /* Center align the text */
  }

  .footer-bottom {
    font-size: 1rem; /* Increase font size for better readability */
  }

  .footer {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

@media screen and (max-width: 560px) {
  .menuTitle {
    font-size: 7rem;
    left: 50%;
    top: 93%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }

  .menuBody {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }
}

@media screen and (max-width: 480px) {
  .header h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3,
  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  .aboutImg {
    width: 100%;
  }

  .menuHead {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .social-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
