@use 'variables' as *;

@media screen and (max-width: $breakpoint-lg) {
  .header h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1rem;
  }

  .about {
    flex-direction: column;
    height: auto;
  }

  .text,
  .image {
    width: 100%;
    padding: $base-padding-sm;
  }

  .wrapper {
    width: 90vw;
    height: fit-content;
  }

  .carousel {
    flex-direction: column;
    align-items: center;
  }

  .carousel li {
    width: 100%;
    list-style-type: none;
  }

  .card {
    flex: 0 0 100%;
  }

  .card img {
    width: 80%;
  }

  .prev,
  .next {
    width: 3rem;
    height: 3rem;
    font-size: 1.25rem;
  }

  .order-btn {
    font-size: 1.25rem;
  }

  .aboutImg {
    width: 80%;
  }

  .text {
    padding-top: 3rem;
    padding-bottom: $base-padding-sm;
    padding-left: $base-padding-sm;
    padding-right: $base-padding-sm;
  }

  .mImg,
  .sImg {
    display: none;
  }

  .menuTitle {
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .menuBody {
    padding-top: 6rem;
  }

  .menu-section {
    grid-template-columns: 1fr;
    padding-left: $base-padding-sm;
    padding-right: $base-padding-sm;
    justify-items: center;
  }

  .footer-container {
    gap: 1rem;
  }

  .footer-info,
  .footer-hours,
  .footer-socials {
    flex: 1 1 33%;
  }
}

@media screen and (max-width: $breakpoint-m) {
  .footer-info,
  .footer-hours,
  .footer-socials {
    flex: 1 1 100%;
    text-align: center;
  }

  .footer-bottom {
    font-size: 1rem;
  }

  .footer {
    padding-top: 3rem;
    padding-left: $base-padding-sm;
    padding-right: $base-padding-sm;
  }
}

@media screen and (max-width: $breakpoint-s) {
  .menuTitle {
    font-size: 7rem;
    left: 50%;
    top: 93%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
  }

  .menuBody {
    padding-top: 4rem;
    padding-bottom: 5rem;
  }

  .card-text h2,
  .card-text span {
    font-size: 1.5rem;
  }

  .card-text h2 h2 {
    margin-bottom: 0;
  }
}

@media screen and (max-width: $breakpoint-xs) {
  .header h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.8rem;
  }

  h3,
  h4 {
    font-size: 1.5rem;
  }

  p {
    font-size: 0.9rem;
  }

  .aboutImg {
    width: 100%;
  }

  .menuHead {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .menu-section {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .social-icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}
