@use 'variables' as *;

.toGo-container {
  display: flex;
  flex-direction: row;
  width: 70vw;
  padding: $base-padding;
  justify-self: center;
}

.slider {
  display: flex;
  width: 100vw;
  height: fit-content;
  overflow: hidden;
  justify-content: center;
}
