// theme colors
$olive-green: #5f6e49;
$light-silver: #d3d7cd;
$dark-olive: #6c7e64;
$sage: #929b7f;
$white: #fff;
$shadow: #00000080;
$cart-shadow: #00000033;

// spacing
$base-padding: 5rem;
$base-padding-sm: 2rem;
$base-y-padding-button: 1rem;
$base-x-padding-button: 2rem;
$base-margin: 2rem;
$cart-button-padding: 0.625rem;

// breakpoints
$breakpoint-lg: 1023px;
$breakpoint-m: 768px;
$breakpoint-s: 560px;
$breakpoint-xs: 480px;

// fonts
$heading-font: 'Bebas Neue';
$heading-font-size: 2rem;
$base-font: 'Nunito';
$base-font-size: 1rem;

// button image size
$button-image-size: 1.125rem;
